body {
    background: linear-gradient(to right, #6d75d0b1  , #474e9c);
    margin: 10px;
    padding: 10px;
    position: relative;
    height: 90vh;
    width: 90vw;
}

input {
    all: unset;
    font: 16px system-ui;
    color: #ffffffc6;
    padding: 6px 10px;
    text-align: center;
    right: 150px;
}

i {
    font-size: 90px;
    top: 10px;
    left: 10px;
    position: fixed;}


::placeholder {
    color: #fff;
    opacity: 0.7;
}

label {
    min-width: 30%;
    height: 30px;
    background-color: #9097e3;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    right: 50px;
    position: absolute;
}

.save {
    right: 0px;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 10px;
    cursor: pointer;
}

.delete {
    left: 0px;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 10px;
    cursor: pointer;
}

#image-preview {
    max-width: 68%;
    max-height: 80%;
    position: relative;
    right: 15%;
    z-index: -1;
    top: 45%;
}

#name-label {

    top: 50px;
}

#price-label {

    top: 90px;
}

#notes-label {

    top: 130px;
}

#secondNotes-label {

    top: 170px;
}

#type-label {

    top: 210px;
}

#image-label {

    top: 250px;
}

.checkbox-label {
   
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 30%;
    height: 30px;
    background-color: #9097e3;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    right: 50px;
    position: absolute;
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    left: 10%;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.checkbox-label:hover input~.checkmark {
    background-color: #ccc;
}

.checkbox-label input:checked~.checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-label input:checked~.checkmark:after {
    display: block;
}

.checkbox-label .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
