body {
    background: linear-gradient(to right, #6d75d0b1, #474e9c);
    margin: 10px;
    padding: 10px;
    position: relative;
    height: 90vh;
    width: 90vw;
}

.fa-trash{
    color: red;
}

input {
    caret-color: black;
    all: unset;
    flex-grow: 1;
    font: 16px system-ui;
    color: #ffffffc6;
    padding: 6px 10px;
}

.data-divs {
    size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    max-height: 50% ;
    overflow: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
    
}
/* Style the scrollbar track */
::-webkit-scrollbar {
    width: 10px; /* Adjust the width */
  }
  
  /* Style the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* Adjust the color */
    border-radius: 5px; /* Adjust the border radius */
  }
  
  /* Style the scrollbar thumb on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Adjust the hover color */
  }
  ::-webkit-scrollbar-button {
    display: none;
  }
i {
    font-size: 90px;
}

.home {
    top: 10px;
    left: 10px;
    position: fixed;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: 10px;
    right: 10px;
    left: 10px;
    position: fixed;
}



::placeholder {
    color: #fff;
    opacity: 0.7;
}

label {
    position: relative;
    min-width: 30%;
    height: 30px;
    background-color: #9097e3;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#image-preview {
    max-width: 68%;
    max-height: 80%;
    position: relative;
    z-index: -1;
    margin: 10px;
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: relative;
    margin: 10px;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.checkbox-label:hover input~.checkmark {
    background-color: #ccc;
}

.checkbox-label input:checked~.checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-label input:checked~.checkmark:after {
    display: block;
}

.checkbox-label .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}