*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

a,
p,
h1 {
  text-overflow: ellipsis;
  overflow: hidden;
  direction: rtl;

}

.grid-continer {
  margin: 20px auto;
  width: 85%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 20px;
  column-gap: 20px;
  justify-items: stretch;
}



.products {
  display: flex;
  flex-wrap: wrap;
}

body {
  background: linear-gradient(to top right, #0014ff, #e76666);
  min-height: 100vh;
  width: 100vw;
}

*::-webkit-scrollbar {
  display: none;
}

.in-menu-text i {
  margin-left: 10px;
  color: purple;
}

.in-menu-text a {
  cursor: pointer;
  text-decoration: underline;
  color: #da9481;
}

.in-menu-text {
  margin-bottom: 10px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.card {
  position: relative;
  border-radius: 60px;
  margin: auto;
  max-width: 78%;
  width: 340px;
  min-height: 400px;
  padding: 10px;
  text-align: center;
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.458);
  box-shadow: 10px 10px 0px 0px #000000c9;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card:hover {
  box-shadow: 20px 20px 6px 0px #000000;
  transform: scale(1.05);
  transition: all 0.5s ease;
  cursor: pointer;
  border-radius: 60px;
  border: 0.5px solid;
  background-color: rgba(255, 255, 255, 0.67);
  overflow: visible;
}

.grid-continer .card {
  margin: unset;
  width: unset;
  min-height: unset;
}

.grid-continer :first-child {
  grid-column: 1/-1;
  max-width: unset;
}

.card div img {
  width: -webkit-fill-available;
  max-height: 300px;
  border-radius: 60px;
}

.card div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card a {
  text-decoration: none;
  text-size-adjust: 100%;
  color: black;
  font-weight: bold;
  font-size: 40px;
}

.card:hover a {
  text-decoration: underline;
  color: #371e1e;
  transition: all 0.5s cubic-bezier(0.4, 0, 1, 1);
  z-index: 1;
}

.back {
  position: absolute;
  border: 0.5px solid;
  background: linear-gradient(to right, #000000b8, #ffffff63);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  text-size-adjust: auto;
}

.back i {
  font-size: 90px;
  text-align: center;
}

.add {
  font-size: 90px;
  text-align: center;
  width: 50%;
  right: 25%;
  position: absolute;
  bottom: 20px;
  z-index: -1;
}

form {
  background: linear-gradient(to right, #000000b8, #ffffff63);
  max-width: 300px;
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

input {
  all: unset;
  font: 16px system-ui;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

::placeholder {
  color: #fff;
  opacity: 0.7;
}

#search_button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

svg {
  color: #fff;
  fill: currentColor;
  width: 24px;
  height: 24px;
  padding: 10px;
}

.login {
  background: linear-gradient(to right, #000000b8, #ffffff63);
  margin: 5px;
  width: 300px;
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.login button {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  width: 30%;
  height: 95%;
  border-radius: 25px;
  background: #4b00f14f;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
}

#login-button:hover {
  background: #01ff93;
  color: #862222;

}

:root {
  --bar-width: 60px;
  --bar-height: 8px;
  --hamburger-gap: 6px;
  --foreground: #333;
  --background: white;
  --hamburger-margin: 8px;
  --animation-timing: 750ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);

  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: fixed;
  top: var(--hamburger-margin);
  right: var(--hamburger-margin);
  z-index: 2;
  cursor: pointer;
}

.hamburger-menu:has(input:checked) {
  --foreground: white;
  --background: #333;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  z-index: 10;
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.sidebar {
  direction: rtl;
  margin: unset;
  z-index: 1;
  width: max-content;
  position: fixed;
  top: 0px;
  right: 0px;
  transition: translate var(--animation-timing);
  translate: 100%;
  padding: 3rem 3rem;
  padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
  background-color: var(--foreground);
  color: var(--background);
  min-height: 100%;
}

.hamburger-menu:has(input:checked)+.sidebar {
  translate: 0;
}

.up {
  z-index: 1;
  position: fixed;
  bottom: 40px;
  right: 20px;
}

.up i {
  font-size: 90px;
  text-align: center;
}

.news-ticker {
  width: 100%;
  height: 40px;
  background-color: #f0f0f0;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  z-index: 1;
  font-family: "Roboto", sans-serif;
  box-shadow: inset 0 4px 8px -4px rgba(0, 0, 0, 0.3);
  background-color: rgb(0, 0, 0, .3);
}

.news-title {
  position: absolute;
  background: #df2020;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 24px;
  color: white;
  font-weight: bold;
  z-index: 1;
}

#news-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  /* Prevents news items from wrapping to the next line */
  animation: ticker 40s infinite linear;
}

.news-item {
  direction: rtl;
  position: relative;
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  color: #ffffff;
  white-space: nowrap;
  /* Prevents news items from wrapping to the next line */
  overflow: hidden;
  /* Hides any overflowing text */
  text-overflow: ellipsis;
  /* Adds ellipsis (...) to indicate truncated text */
}

.news-item::after {
  content: "";
  width: 3px;
  height: 100%;
  background: #766363;
  position: absolute;
  top: 0;
  right: 0;
}

@keyframes ticker {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(100vw);
  }
}

@media (max-width: 40rem) {
  #news-list {
    animation: ticker 20s infinite linear;
  }
  
  @keyframes ticker {
    0% {
      transform: translateX(-100%);
    }
  }
  
}


@media(min-width:40rem) {
  .grid-continer {
    grid-template-columns: 33% 33% 33%;
  }
}

@media (min-width:60rem) {
  .grid-continer {
    grid-template-columns: 25% 25% 25% 25%;
  }
}